/* Main Section */

main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    transition: 0.3s ease-in;
    background:url(../images/index/hero-banner7.jpg);
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
main h1{
    color: #2B2B2B;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.hero-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transition: 0.3s ease-in;
}

.text-content{
    padding-left: 40px;
    padding-top: 200px;
    max-width: 628px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 40px;
    height: 100%;
}
.hero-img-conatiner{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-text{
    padding-top: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-button{
    margin-top: 40px;
    display: flex;
    height: 65px;
    width: 200px;  
}
.hero-button a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/1.home/hero-bg.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

@media(max-width: 1300px){

    .text-content{
        padding-left: 60px;
    }
    
}

@media(max-width: 1000px){
    main h1{
        font-size: 36px;    
    }
    .hero-text{
        font-size: 14px;
    }

    .hero-button{
        height: 60px;
        width: 180px;  
    }
    .hero-button a{
        font-size: 18px;
    }

    main{
        height: 600px;
        padding-bottom: 60px;
    }

}

@media(max-width: 800px){
    main h1{
        font-size: 30px;    
    }
    .hero-text{
        font-size: 14px;
    }
    .hero-button{
        height: 50px;
        width: 150px;  
    }
    .hero-button a{
        font-size: 16px;
    }

    main{
        height: 600px;
        padding-bottom: 60px;
        background-image: url(../images/index/hero-banner9.jpg);
        background-position: center;
    }
}

@media(max-width: 600px){
    main img{
        max-width: 60px;
    }
    .text-content{
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }
    main h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        width: 100%;
        text-align: center;    
    }
    .hero-text{
        font-size: 12px;
        align-items: center;
    }

    .hero-button a{
        font-size: 14px;
    }
    .hero-button{
        height: 40px;
        width: 130px;  
    }
    main{
        height: 90vh;
        
    }
}


/* Services Section */

.service-wrapper{
    width: 1000px;
}

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.services-cards{
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

/* service card type1 */
.service-card1{
    overflow: visible;
    margin-top: 50px;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    background: #39423630;
}
.service-card1 img {
    max-width:450px;
    max-height: 330px;
}

.s-card-content{
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-design{
    position: relative;
    width: 11px;
    height: 71px;
    top: 200px;
    background-color: #FDB812;
}
.s-card-text{
    transition: 0.3s ease-in;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 460px;
}


.s-card-link{
    
    transition: 0.3s ease-in;
    padding-top: 50px;
    text-decoration: none;
    color: #6A624E;
    font-size: 18px;
    font-weight: 500;
}

.s-card-link:hover{
    scale: 1.1;
}


/* Service card type2 */

.service-reverse{
    flex-direction: row-reverse; 
}

.r-background{
    background: #fdb81221;
}

.card-design2{
    top: 20px;
}

.no-padding{
    padding-left: 0;
}


.s-arrow-svg{
    height: 15px;
    width: 15px;
}

@media(max-width: 1000px){

    .s-card-link{
        font-size: 16px;
    }
    .service-wrapper{
        width: 800px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        max-width:350px;
        max-height: 300px;
    }

    .card-design{
        top: 50px;
    }

    .s-arrow-svg{
        height: 10px;
        width: 10px;
    }


}

@media(max-width: 810px){

    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 550px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }
}

@media(max-width: 600px){

    .services-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 300px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }
}