/* Main Section */

main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    transition: 0.3s ease-in;
    background:url(../images/index/hero-banner7.jpg);
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main h1{
    color: #2B2B2B;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.hero-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transition: 0.3s ease-in;
}

.text-content{
    padding-left: 40px;
    padding-top: 200px;
    max-width: 628px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 40px;
    height: 100%;
}

.hero-text{
    padding-top: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-button{
    margin-top: 40px;
    display: flex;
    height: 65px;
    width: 200px;  
}
.hero-button a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/1.home/hero-bg.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

@media(max-width: 1300px){

    .text-content{
        padding-left: 30px;
        padding-right: 30px;
    }

    main h1{
        font-size: 40px;
        font-weight: 800;
        line-height: 80px;
        width: 100%;    
    }
    
}

@media(max-width: 1150px){
    .text-content{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 1000px){
    .text-content{
        padding: 0;
    }
    .hero-section{
        padding-top: 140px;
    }
    main h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
        width: 100%;    
    }
    .hero-text{
        font-size: 16px;
    }

    .hero-button{
        height: 60px;
        width: 180px;  
    }
    .hero-button a{
        font-size: 18px;
    }

}

@media(max-width: 600px){
    main h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        width: 100%;    
    }
    .hero-text{
        font-size: 12px;
    }
    
    main{
        height: 90vh;
        
    }
}