/* Main Section */

main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    transition: 0.3s ease-in;
    background:url(../images/index/hero-banner7.jpg);
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
main h1{
    color: #2B2B2B;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.hero-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transition: 0.3s ease-in;
}

.text-content{
    padding-left: 40px;
    padding-top: 200px;
    max-width: 628px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 40px;
    height: 100%;
}
.hero-img-conatiner{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-text{
    padding-top: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-button{
    margin-top: 40px;
    display: flex;
    height: 65px;
    width: 200px;  
}
.hero-button a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/1.home/hero-bg.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

@media(max-width: 1300px){

    .text-content{
        padding-left: 60px;
    }
    
}

@media(max-width: 1000px){
    main h1{
        font-size: 36px;    
    }
    .hero-text{
        font-size: 14px;
    }

    .hero-button{
        height: 60px;
        width: 180px;  
    }
    .hero-button a{
        font-size: 18px;
    }

    main{
        height: 600px;
        padding-bottom: 60px;
    }

}

@media(max-width: 800px){
    main h1{
        font-size: 30px;    
    }
    .hero-text{
        font-size: 14px;
    }
    .hero-button{
        height: 50px;
        width: 150px;  
    }
    .hero-button a{
        font-size: 16px;
    }

    main{
        height: 600px;
        padding-bottom: 60px;
        background-image: url(../images/index/hero-banner9.jpg);
        background-position: center;
    }
}

@media(max-width: 600px){
    main img{
        max-width: 60px;
    }
    .text-content{
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }
    main h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        width: 100%;
        text-align: center;    
    }
    .hero-text{
        font-size: 12px;
        align-items: center;
    }

    .hero-button a{
        font-size: 14px;
    }
    .hero-button{
        height: 40px;
        width: 130px;  
    }
    main{
        height: 90vh;
        
    }
}


/* Services Section */

.service-wrapper{
    width: 1000px;
}

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.services-cards{
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

/* service card type1 */
.service-card1{
    overflow: visible;
    margin-top: 50px;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    background: #39423630;
}
.service-card1 img {
    max-width:450px;
    max-height: 330px;
}

.s-card-content{
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-design{
    position: relative;
    width: 11px;
    height: 71px;
    top: 200px;
    background-color: #FDB812;
}
.s-card-text{
    transition: 0.3s ease-in;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 460px;
}


.s-card-link{
    
    transition: 0.3s ease-in;
    padding-top: 50px;
    text-decoration: none;
    color: #6A624E;
    font-size: 18px;
    font-weight: 500;
}

.s-card-link:hover{
    scale: 1.1;
}


/* Service card type2 */

.service-reverse{
    flex-direction: row-reverse; 
}

.r-background{
    background: #fdb81221;
}

.card-design2{
    top: 20px;
}

.no-padding{
    padding-left: 0;
}


.s-arrow-svg{
    height: 15px;
    width: 15px;
}

@media(max-width: 1000px){

    .s-card-link{
        font-size: 16px;
    }
    .service-wrapper{
        width: 800px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        max-width:350px;
        max-height: 300px;
    }

    .card-design{
        top: 50px;
    }

    .s-arrow-svg{
        height: 10px;
        width: 10px;
    }


}

@media(max-width: 810px){

    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 550px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }
}

@media(max-width: 600px){

    .services-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 300px;
    }

    .service-card1{
        height: 260px;
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }
}

/* about section */


/* banner section */
.about-banner{
    width: 100%;
    height: auto;
    transition: 0.3s ease-in;
    background:url(../images/index/about/about-banner.jpg);
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.a-banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.a-banner-text{
    height: 100%;
    max-width: 525px;
    background-color: rgba(253, 184, 18, 0.58);;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 10px 20px;
}

.a-banner-text-points{
    padding-top: 20px;
}

.a-banner-text-points p{
    padding-top: 20px;
}

@media(max-width: 700px){
    .about-banner{
        height: auto;
    }
    .a-banner-text-points p{
        font-size: 14;
    }  
}

@media(max-width: 500px){
    .a-banner-text-points p{
        font-size: 12;
    }  
}


/* About Quote */

.a-quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
}
.a-quote-box{
    height: 180px;
    width: 1100px;
    border-radius: 86px 0px;
    background: #6C2978;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 30px 50px;
}

.a-quote-text{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.a-quote-author{
    display: flex;
    flex-direction: row-reverse;
}
.a-svg-container{
    position: relative;
    
}

.a-svg-size{
    width: 150px;
    height: 150px;
}

.a-svg1{
    top: 62px;
    left: -521px;
}

.a-svg2{
    top: -76px;
    left: 549px;
}

@media(max-width: 1200px){
    .a-quote-box{
        min-width: none;
        width: 100%; 
    }

    .a-svg1{
        top: 41px;
        left: -434px;
    }
    
    .a-svg2{
        top: -34px;
        left: 411px;
    }
    .a-svg-size{
        width: 90px;
        height: 90px;
    }
}

@media(max-width: 950px){
    .a-quote-box{
        padding: 30px 20px;
        height: 300px;
        width: 100%;
    }

    .a-svg1{
        top: 41px;
        left: -332px;
    }
    
    .a-svg2{
        top: -34px;
        left: 222PX;
    }
}

@media(max-width: 800px){
    .a-svg1{
        top: 41px;
        left: -232px;
    }
}

@media(max-width: 600px){
    .a-quote-box{
        height: 400px;
    }

    .a-svg1{
        top: 41px;
        left: -132px;
    }

    .a-svg2{
        top: -34px;
        left: 100px;
    }
}



/* Our process */

.process-section{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;
    border-radius: 0px 100px;
    width: 100%;
    padding: 50px 0px;
}

.p-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-timeline-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.p-timeline{
    background-image: url(../images/index/process/timeline.png);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
}

.p-steps{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 5px;
}

.p-step1{
    max-width: 350px;
    padding: 0px 20px;
}

.p-step1 p{
    padding-top: 15px;
}

.p-svg{
    padding-top: 20px;
    display: none;
    width: 40px;
    height: 60px;
}



@media(max-width: 600px){
    .p-timeline{
        display: none;
    }

    .p-steps{
        flex-direction: column;

    }

   .p-svg{
    display: block;
   }
}



/* Tips section*/

.tips_container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #39423630;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.tips_container p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}
.exp-section h3 {
    cursor: pointer;
    padding: 0.5rem 3em 0.5rem 2rem;
    font-weight: 600px;
    font-size: 20px;
    background-color: #394236;
    color: #ffffff;
    position: relative;
}
.icon_tip {
    margin-left: auto;
    transition: transform 1s;
    position: absolute;
    right: 2rem;
    top: 40%;
    
}

.exp-section p{
    font-weight: 500;
    transition: transform 1s;

}

.exp-section {
    margin-bottom: 10px;
    transition: transform 1s;
}

.exp-content {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
    transition: transform 1s;
    background-color: rgba(253, 184, 18, 0.13);;
}

.exp-content li {
    margin-bottom: 5px;
}
.exp-content ul {
    margin-bottom: 10px;
}

.inside_p {
    font-weight: 600; 
    font-size: 18px; 
    text-align: center; 
    border-bottom: solid rgb(87, 81, 73);
}

.bold_extra {
    font-weight: 700;
    font-size: 18px;
}
.bold_extra2 {
    font-weight: 550;
    font-size: 16px;
}

.list_extra {
    list-style: none;
}

.exp-section.active .exp-content {
    display: block;
    transition: transform 1s ease;
}

.exp-section.active .icon_tip {
    transform: rotate(180deg);
}

@media screen and (max-width: 1265px) {
    .exp-section h3 {
        font-size: 18px;
    }

    .exp-section p{
        font-weight: 500;
    }
}


@media screen and (max-width: 600px) {
    .exp-section h3 {
        font-size: 14px;
        
    }

    .exp-section p{
        font-size: 12px;
    }
    .inside_p {
        font-size: 14px;
    }
    
    .exp-content li {
        font-size: 12px;
    }
    .bold_extra {
        font-weight: 700;
        font-size: 14px;
    }
}




/* contact us form */

.c-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 100%;
    
}
.c-map{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-self: center;
    width: 100%;
    padding: 10px;
}
.c-map a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in;
}

.h-p{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
}
.s-p{
    color: #2c2c2c; 
    font-size: 18px;
    text-align: center;
}

.c-map a:hover{
    scale: 1.2;
}

.c-map a:hover .svg-color{
    fill: rgba(94, 94, 94, 0.808);
}
.c-contact {
    width: 90%;
    margin: 10px auto;
    background-color: #394236;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.c-contact h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--logo-color);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 247, 247);
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 15px;
    background: rgba(95, 95, 95, 0.116);
}

textarea {
    resize: vertical;
    color: azure;
}

.btn_contact {
    border: none;
    outline: none;
    font-size: 18px;
    width: 160px;
    height: 60px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background: var(--yellow);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_contact:hover{
    background: var(--button-hover);
}

input{
    color: azure;
}

@media(max-width: 1300px){
    .svg-size{
        width: 70px;
        height: 70px;
    }
    .h-p{
        font-size: 20px;
    }
    .s-p{
        font-size: 14px;
    }
    
}


@media(max-width: 1000px){
    .c-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    #contact-us{
        margin-bottom: 30px;
    }
    .c-map{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
}

@media(max-width: 600px){
    .c-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .c-map a{
        margin-bottom: 30px;
    }

    .c-contact h2 {
        font-size: 18px;
    }
    label{
        font-size: 12px;
    }
    input{
        font-size: 11px;
    }


}


