.main-services{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 0.3s ease-in;
    background:url(../images/services/s-banner.png);
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 600px){
    .s-h-text{
        text-align: center;
    }
}